body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.inline-hr{
  display: inline-flex;
  width: 85%;
}

#intro-name{
  font-size: 40px;
  font-weight: 1000;
}

#location {
  font-size: 15px;
  vertical-align: bottom;
}

#locationImage {
  width: 20px;
  vertical-align: bottom;
}
.subtitle{
  font-family: 'Khand', sans-serif;
  font-size: 25px;
  font-weight: 800;
  color: #e78885;
}

.show-grid{
  width:100%;
}

.container-fluid,
.container {
  width: 100%;
}

.grayContent{
  color: #777777;
}


.companyName {
	font-weight: 900;
	font-size: 18px;
}