body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.inline-hr{
  display: inline-flex;
  width: 85%;
}

.intro-name{
  font-size: 40px;
  font-weight: 1000;
}

.subtitle{
  font-size: 25px;
  font-weight: 800;
  color: #e78885;
}

.show-grid{
  width:100%;
}

.container-fluid,
.container {
  width: 100%;
}